*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    /* colores */
    --color-white: #FFFFFF;
    --color-main: #38585F;
    --color-yellow: #FFDC00;
    --color-green: rgba(14, 169, 76, 89);
    /* size */
    --title-size: 40px;
    --subtitle-size: 29px;
    --descripcion-size: 18px;
    --text-size: 16px
        /* fonts */
}

.logo {
    width: 200px;
    height: 200px;
}

.logo img {
    width: 100%;
}

.bg-light {
    background-color: transparent !important;
}

.carousel-item {
    height: 70vh;
    min-height: 500px;
    object-fit: cover;
}

.nav-link {
    font-size: 1rem;
    color: #FFFFFF !important;
    font-weight: 600;
}


.content-img {
    width: 400px;
    height: 300px;
    text-align: center;
}

.content-img img {
    width: 100%;
}

.celebrity {
    margin-top: 100px;

}

.ft-info p {
    color: var(--color-white);
}

@media screen and (max-width:425px) {
    .logo {
        width: 130px;
        height: 130px;
        margin: 0;
    }
}