*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    /* colores */
    --color-white: #FFFFFF;
    --color-main: #38585F;
    --color-yellow: #FFDC00;
    --color-green: rgba(14, 169, 76, 89);
    /* size */
    --title-size: 40px;
    --subtitle-size: 29px;
    --descripcion-size: 18px;
    --text-size: 16px
        /* fonts */
}

/*Menu*/

.logo {
    width: 200px;
    height: 200px;
}

.logo img {
    width: 100%;
}

.bg-light {
    background-color: transparent !important;
}

.navbar {
    height: 15vh;
}


.navbar-nav a {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF !important;
    margin-left: 5px;
}

.navbar-nav a:hover {
    border-bottom: 1px solid var(--color-white);

}

/*header*/
header {
    width: 100%;
    background: url(../img/bg.jpg);
    background-size: cover;
    /* paralax */
    background-attachment: fixed;
    background-position: center 0;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    height: 800px;
    margin: auto;
    overflow: hidden;
}

header .contenedor {
    position: relative;
    height: 600px;
}

/* servs */
.contenedor-us {
    overflow: visible;
    position: relative;

}

.contenedor-us article {
    background-color: var(--color-white);
    padding: 40px;
    width: 700px;
    position: relative;
    top: -150px;
    left: 90px;
    /* float: right; */
    z-index: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}


.contenedor-us article h1 {
    color: var(--color-green);
    text-align: center;
    font-size: var(--title-size);
    /* margin-top: 2px; */
    margin-bottom: 5px;
}


.about-us_list {
    text-align: center;
}

.about-us_list ul {
    display: inline-block;
    margin-left: 10px;
    padding: 15px !important;
}

/* descripcion */

.info-cont article h3 {
    font-size: var(--subtitle-size);
    font-weight: 500;
    color: var(--color-main);
}

.plans-t h4 {
    font-size: var(--subtitle-size);
    font-weight: 500;
    color: var(--color-main);
    /* border-bottom: 3px solid #9AD032; */
}

.plans-ofert article p {
    display: inline-block;
    padding: 10px;
    font-size: var(--descripcion-size);
    font-weight: 500;
    color: var(--color-main);
}



/* badge-whtsaap */
.btn-contact{
    width: 80%;
    height: 80%;
}

.btn-whts{
    position: fixed;
    width: 80px;
    height: 80px;
    line-height: 75px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: var(--color-white);
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 1px 10px rgba(0, 0,0, 0.5);
    z-index: 100;

}

.btn-whts:hover{
text-decoration: none;
color:#0df053 ;
background-color: #fff;
}

@media screen and (max-width:768px) {
  
    .contenedor-us article{
        left:35px;
    } 

}

@media screen and (max-width:425px) {
  
    .contenedor-us article{
        left:20px;
        width: 90vw;
        top: -280px;
    } 

}

@media screen and (max-width:320px) {
  
    .contenedor-us article{
        left:15px;
        width: 90vw;
        top: -280px;
    } 

}